<h1><strong>My Hair Saloon</strong> <small> Add your hair stylists!</small></h1>

<form action="/stylists" method="post">
  <label for="name"><h4><strong>Full Name: </strong></h4></label>
  <input id="stylist" name="stylist" type="text">

  <button type="submit" class="btn btn-primary">Add stylist</button>
</form>

<% if @stylists.any?() %>
<h4><strong>Click on a stylist to see their clients or add more</strong></h4>

<ul>
  <% @stylists.each do |stylist| %>
  <li><strong><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist() %></a></strong></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>

<a href="/"><button type="submit" class="btn btn-primary">Back</button></a>
