<h1>Add a Client to <%= @stylist.name() %></h1>

<form action="/stylists" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="client">Client</label>
  <input id="client" name="client" type="text">

  <button type="submit">Add Client</button>
</form>

<% if @stylist.clients().any?() %>
<h3>Here are all of this stylist's clients:</h3>

<ul>
  <% @stylist.clients().each() do |myclient| %>
  <li><%= myclient.client() %></li>
  <% end %>
</ul>
<% else %>
<p>There are no clients yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
