<h1><strong>Add a Client of <%= @stylist.name() %></strong></h1>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="clientsname"><h4><strong>Client's Name: </strong></h4></label>
  <input id="clientsname" name="clientsname" type="text">

  <button type="submit" class="btn btn-primary" >Add Client</button>
</form>

<% if @stylist.clients().any?() %>
<h4><strong><%= @stylist.name() %>'s clients <strong></h4>

<ul>
  <% @stylist.clients().each() do |myclient| %>
  <li><h4><%= myclient.clientsname() %></h4></li>
  <% end %>
</ul>
<% else %>
<h4>There are no clients yet!</h4>
<% end %>

<a href="/"><button type="submit" class="btn btn-primary">Back</button></a>
